.lamp{
    background-color:#FFDB33;
    filter: blur(5px);
    animation: lampEffect 3s infinite;
}
@keyframes lampEffect {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
    
}

.atasBawah{
    animation: atasBawah 3s infinite;
}

@keyframes atasBawah{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
.rotateLentera{
    animation: gerak 3s infinite;
}

@keyframes gerak{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}