/* Vanilla CSS for flip card */
.card {
  perspective: 800px;
}
.card__content {
  transform-style: preserve-3d;
}
.rotated {
  transform: rotateY(0.5turn);
}

.card__front,
.card__back {
  backface-visibility: hidden;
}
.card__back {
  transform: rotateY(0.5turn);
}
