@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(
    180deg,
    #220c31 -17.87%,
    #2b103a 27.13%,
    #451c55 74.06%,
    #8e2b8f 105.56%,
    #b134b2 105.56%
  );
}

html {
  background: var(--background);
  color: #fef5ff;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #6d4b79;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c6b9cb;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ab98b2;
  transition-duration: 0.5s;
}

html {
  scroll-behavior: smooth;
}
